<hr>
<p>{{postedAt}}</p>
<p>{{username}}: {{text}}</p>
<p>Likes: {{likes.length}}</p>
    <form action="/movies/{{@root.movie._id}}/likecomment" method="POST">
        <button type="submit">♥</button>
    </form>
<p>Reply:</p>
    <form action="/movies/{{@root.movie._id}}/comment" method="POST">
        <input type="text" name="text">    
        <input type="hidden" name="supercomment" value="{{_id}}">
        <button type="submit">Add Comment</button>
    </form>
{{#if subcomments}}
<p>Replies:</p>
<ul>
    {{#each subcomments}}
    <li>{{> comment}}</li>
    {{/each}}
</ul>
{{/if}}
