<hr>
<p>{{postedAt}}</p>
<p>{{username}}: {{text}}</p>
<p>Likes: {{likes.length}}</p>
    <form class="likeForm" data-movie-id="{{@root.movie._id}}" data-comment-id="{{_id}}">
        <input type="hidden" name="commentId" value="{{_id}}">
        <button type="submit">♥</button>
    </form>
<p>Reply:</p>
    <form class = "replyForm" data-supercomment-id = "{{_id}}">
        <input type="text" name="text">
        <button type="submit">Add Comment</button>
    </form>
{{#if subcomments}}
<p>Replies:</p>
<ul>
    {{#each subcomments}}
    <li>{{> comment}}</li>
    {{/each}}
</ul>
{{/if}}
