<main>
    <form action="/{{id}}/{{follow}}" method="POST" class="follow-form">
        <button type="submit" value="{{follow}}">{{follow}}</button>
    </form>
    <form id="filterForm">
        <label>All Time</label>
        <input type="radio" name="range" value="alltime" checked>

        <label> Past Year</label>
        <input type="radio" name="range" value="year">

        <label>Past Month</label>
        <input type="radio" name="range" value="month">

        <br>

        <button type="submit">Submit</button>
    </form>

    <h2>Range: {{range}}</h2>

    <h3>Average Rating: {{statistics.rating}}</h3>
    <h3>Average Rating Delta: {{statistics.global_difference}}</h3>
    <h3>Hours Spent Wathing: {{statistics.hours_watched}}</h3>

    <h2>Top Genres</h2>
    <ul>
        {{#each statistics.genres}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <h2>Top Actors</h2>
    <ul>
        {{#each statistics.actors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <h2>Top Directors</h2>
    <ul>
        {{#each statistics.directors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <h2>Genre Based Recommendations</h2>
    <ul>
        {{#each statistics.recommendations.genre_based}}
        <li>
            <a href="/movies/{{_id}}">{{name}}</a>
            <p>Relaesed: {{date}}</p>
            <p>Director(s):</p>
            <ul>
                {{#each directors}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>

    <h2>Actor Based Recommendations</h2>
    <ul>
        {{#each statistics.recommendations.actor_based}}
        <li>
            <a href="/movies/{{_id}}">{{name}}</a>
            <p>Relaesed: {{date}}</p>
            <p>Director(s):</p>
            <ul>
                {{#each directors}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>

    <h2>Director Based Recommendations</h2>
    <ul>
        {{#each statistics.recommendations.director_based}}
        <li>
            <a href="/movies/{{_id}}">{{name}}</a>
            <p>Relaesed: {{date}}</p>
            <p>Director(s):</p>
            <ul>
                {{#each directors}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>
</main>