<!--TODO-->
<main>
    <form id="followForm" data-userid="{{account.id}}">
        <button type="follow">Follow</button>
    </form>

    <form id="rangeForm">
        <label>All Time</label>
        <input type="radio" name="range" value="alltime" checked>

        <label> Past Year</label>
        <input type="radio" name="range" value="year">

        <label>Past Month</label>
        <input type="radio" name="range" value="month">

        <button type="submit">Submit</button>
    </form>

    <h3>Average Rating: {{statistics.{{range}}.average_rating}}</h3>
    <h3>Average Rating Delta: {{rating_delta}}</h3>
    <h3>Hours Spent Wathing: {{num_hours}}</h3>

    <h2>Top Genres</h2>
    <ul>
        {{#each genres}}
        <li>{{genre}}</li>
        {{/each}}
    </ul>

    <h2>Top Actors</h2>
    <ul>
        {{#each actor}}
        <li>{{actor}}</li>
        {{/each}}
    </ul>

    <h2>Top Directors</h2>
    <ul>
        {{#each directors}}
        <li>{{director}}</li>
        {{/each}}
    </ul>

    <h2>Top Themes</h2>
    <ul>
        {{#each themes}}
        <li>{{theme}}</li>
        {{/each}}
    </ul>
</main>