<main>
    <img src="{{movie.posterUrl}}">
    <p>Release year: {{movie.date}}</p>
    <p>Tagline: {{movie.tagline}}</p>
    <p>Description: {{movie.description}}</p>
    <p>Length: {{movie.minute}} minutes</p>
    <p>Rating: {{movie.rating}}</p>

    <p>Directors:</p>
    {{#each movie.directors}}
    <p>{{this}}</p>
    {{/each}}

    <p>Actors:</p>
    <ul id="actors">
        {{#each movie.actors}}
        <li>{{this.name}} as {{this.role}}</li>
        {{/each}}
    </ul>

    <button type="button" id="actorsButton" data-movie-id="{{movie._id}}">See All</button>

    <p>Genres:</p>
    <ul>
        {{#each movie.genres}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <p>Themes:</p>
    <ul>
        {{#each movie.themes}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <p>Studios:</p>
    <ul>
        {{#each movie.studios}}
        <li>{{this}}</li>
        {{/each}}
    </ul>

    <p>Comment:</p>
    <form action="/movies/{{movie._id}}/comment" method="POST" id="commentForm" data-movie-id="{{movie._id}}">
        <input type="text" name="text" id="commentText">
        <button type="submit">Add Comment</button>
    </form>

    <p id="commentError" class="error" hidden></p>

    <p>Comments:</p>
    <div id="comments">
        {{#each movie.comments}}
        {{> comment}}
        {{/each}}
    </div>

    <form action="/movies/{{movie._id}}/add" method="POST">
        <button type="submit">Add Movie</button>
    </form>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/js/actors.js"></script>
    <script src="/js/comments.js"></script>

</main>