<main>
    <form action="/logout" method="POST">
        <button id="Logout">Logout</button>
    </form>
    <h2>Username: {{username}}</h2>
    <a href="/uploaddata">Upload Data</a>
    <form id="updateinfoform">
        <label>Age</label>
        <input type="number" name="age" id="age" value="{{age}}">

        <label>Description</label>
        <input type="text" name="description" id="description" value="{{profile_description}}">

        <button type="submit">Update</button>
    </form>
    <h2>Followers</h2>
    <ul>
        {{#each followers}}
            <li>
                <a href="/{{_id}}">{{username}}</a>
            </li>
        {{/each}}
    </ul>
    <h2>Following</h2>
    <ul>
        {{#each following}}
            <li>
                <a href="/{{_id}}">{{username}}</a>
            </li>
        {{/each}}
    </ul>
</main>